body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

textarea {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  border-bottom-style: solid;
  border-color: lightskyblue;
}

.navlist {
  list-style-type: none;
  display: flex;
  width: 50%;
  align-items: flex-end;
}

.navitem {
  margin-right: 3em;
  font-size: 20px;
}

.navicon {
  height: 20px;
}

.docsname {
  font-size: 40px;
}

.warning{
  margin-top: 2em;
  font-size: 20px;
  font-weight: bold;
}

.alert {
  color: red;
}

.pagetitle {
  font-size: 40px;
  margin-left: 10px;
}

.addbtn {
  margin-left: 10px;
}

.cardwrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.card {
  background-color: lightskyblue;
  margin: 10px;
  min-width: 15%;
  border-right-style: outset;
  border-bottom-style: outset;
  border-radius: 15px;
  border-width: 3px;
  padding: 5px;
}

.cardheader * {
  margin: 0;
  display: flex;
  justify-content: center;
}

.cardbody {
  margin-left: 10px;
}

.cardlabel {
  font-weight: bold;
}

.addform {
  margin-top: 10px;
  margin-left: 20px;
}

.formitem {
  display: block;
  margin-top: 5px;
}

.formlabel {
  font-size: 14px;
}

.detailswrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.details {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-right-style: outset;
  border-bottom-style: outset;
  border-radius: 15px;
  border-width: 3px;
  padding-left: 10px;

}

.btn {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.editform {
  margin-top: 10px;
  margin-left: 20px;
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
@media screen and (max-width: 980px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navlist {
    width: 100%;
    justify-content: center;
  }

  .navitem {
    font-size: 18px;
    margin-right: 1em;
  }

  main {
    margin: 0;
  }

  .docsname {
    font-size: 20px;
  }

  .warning {
    font-size: 14px;
  }

  .formitem textarea {
    max-width: 90%;
  }

  .cardwrapper {
    justify-content: center;
  }

  .card {
    min-width: 40%;
  }

  .details {
    width: 100%;
  }

  .editform {
    width: 90%;
  }

  .pagetitle {
    font-size: 20px;
  }
}