body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}


.navbar {
  display: flex;
}

.navlist {
  list-style-type: none;
  display: flex;
  width: 50%;
  align-items: flex-end;
}

.navitem {
  margin-right: 3em;
  font-size: 20px;
}

.cardwrapper {
  display: flex;

  flex-wrap: wrap;
}

.card {
  background-color: lightskyblue;
  margin: 10px;
  min-width: 15%;
  border-right-style: outset;
  border-bottom-style: outset;
  border-radius: 15px;
  border-width: 3px;
}

.cardheader * {
  margin: 0;
  display: flex;
  justify-content: center;
}

.cardbody {
  margin-left: 10px;
}

.cardlabel {
  font-weight: bold;
}

.addform {
  margin-top: 10px;
  margin-left: 20px;
}

.formitem {
  display: block;
  margin-top: 5px;
}

.formlabel {
  font-size: 14px;
}

.detailswrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.details {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-right-style: outset;
  border-bottom-style: outset;
  border-radius: 15px;
  border-width: 3px;

}

.btn {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.editform {
  margin-top: 10px;
  margin-left: 20px;
}