body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
}

.navlist {
  list-style-type: none;
  display: flex;
  width: 50%;
  align-items: flex-end;
}

.navitem {
  margin-right: 3em;
  font-size: 20px;
}

.hardwarecard {
  background-color: lightblue;
  margin: 10px, 0, 10px, 0;
}